{% extends "base.html" %}


{% block content %}

<h1>Главная страница библиотеки elBooks</h1>

	<p>Добро пожаловать на <em>elBooks</em>.

<h2>====================</h2>

	<p>База данных библиотеки содержит:
	<ul>
		<li><strong><a href="{% url 'books' %}">Именований книг:</a></strong> {{ num_books }}</li>
		<li><strong>Всего экземпляров:</strong> {{ num_instances }}</li>
		<li><strong>Доступных экземпляров:</strong> {{ num_instances_available }}</li>
		<li><strong><a href="{% url 'authors' %}">Авторов:</a></strong> {{ num_authors }}</li>
	</ul>

<p> Эта страница была посещена {{ num_visits }} раз(а).
{% endblock %}