{% extends "base.html" %}

{% block content %}
	<h1>Информация о книге</h1>
	<h2>{{ book.title }}</h2>

	<p><strong>Автор:</strong> 
			{% for author in book.authors.all %}<a href="{{ author.get_absolute_url }}">{{ author }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
		</p>
	<p><strong>Описание:</strong> <p>{{ book.summary }}</p></p>
	<p><strong>ISBN:</strong> {{ book.isbn }}</p> 
	<p><strong>Язык:</strong> {{ book.language }}</p>  
	<p><strong>Жанр:</strong> {% for genre in book.genres.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}  </p>

	<div style="margin-left:20px;margin-top:20px">
		<h4>Копии:</h4>

		{% for copy in book.bookinstance_set.all %}
		<hr>
		<p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'd' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
		{% if copy.status != 'a' %}<p><strong>Срок возврата:</strong> {{copy.due_back}}{% endif %}
		<p><strong>Номер копии:</strong> {{copy.imprint}}
		<p class="text-muted"><strong>ID:</strong> {{copy.id}}
		{% endfor %}
	</div>
{% endblock %}